spring:
  profiles:
    group:
      "dev" : "localdb, common"
      "prod" : "proddb, common"

---

spring:
  config:
    activate:
      on-profile: "localdb"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/carGive?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        default_batch_fetch_size: 50

---

spring:
  config:
    activate:
      on-profile: "proddb"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${RDS_HOST}:3306/carGive?serverTimezone=UTC&characterEncoding=UTF-8
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        default_batch_fetch_size: 50

---

spring:
  config:
    activate:
      on-profile: "common"

logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error